In [29]:
from datetime import date
import holidays
import pandas as pd

In [30]:
years_list = [2015, 2016, 2017, 2018, 2019, 2020, 2021] # List of years to include in the DF
countries = ["Germany", "Austria", "Switzerland", "Poland", "Belgium", "Netherlands", "Spain", "Italy", "France", "UnitedKingdom", "Sweden", "Denmark", "Finland", "Norway"]

In [31]:
# Create our empty dataframe
c_holidays_final = pd.DataFrame(columns = ["date", "holiday", "country"])
c_holidays_final

Empty DataFrame
Columns: [date, holiday, country]
Index: []

In [32]:
for c in countries:
    
    df1= pd.DataFrame(holidays.CountryHoliday(c, years=years_list).items(), columns=["date", "holiday"])
    df1["country"] = c
    c_holidays_final = c_holidays_final.append(df1, ignore_index=True)
    
c_holidays_final.set_index("date")

                          holiday  country
date
2016-01-01                Neujahr  Germany
2016-03-25             Karfreitag  Germany
2016-03-28            Ostermontag  Germany
2016-05-01             Erster Mai  Germany
2016-05-05    Christi Himmelfahrt  Germany
...                           ...      ...
2015-04-02           Skjærtorsdag   Norway
2015-04-03             Langfredag   Norway
2015-04-06         Andre påskedag   Norway
2015-05-14  Kristi himmelfartsdag   Norway
2015-05-25         Andre pinsedag   Norway

[1863 rows x 2 columns]

In [33]:
c_holidays_final.to_excel(r"xxx.xlsx", sheet_name="Bank Holidays")